@media screen and (min-width: 480px) {
  [sandbox_006b713b].ggg, [sandbox_006b713b]#bbb {

  }
  
  body {
      background-color: lightgreen;
  }
}

[sandbox_006b713b]#main {
  border: 1px solid black;
}

[sandbox_006b713b]ul li  {
  padding: 5px;
}