@media screen and (min-width: 480px) {
  [sandbox_cb5c0edb].ggg, [sandbox_cb5c0edb]#bbb {

  }
  
  body {
      background-color: lightgreen;
  }
}

[sandbox_cb5c0edb]#main {
  border: 1px solid black;
}

[sandbox_cb5c0edb]ul li  {
  padding: 5px;
}